# K Nearest Neighbors

In [6]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

## Ingest the Data

### Kaggle Dataset Download

In [7]:
!pip install -q kaggle

In [8]:
#%pwd

In [9]:
#%mkdir ~/.kaggle

In [10]:
%pwd

'c:\\Users\\oyeog\\Practise\\KNN'

In [11]:
#%cd ~/

In [12]:
%cd Practise/KNN/

[WinError 3] The system cannot find the path specified: 'Practise/KNN/'
c:\Users\oyeog\Practise\KNN

In [13]:
%pwd

'c:\\Users\\oyeog\\Practise\\KNN'

In [14]:
api_token = {"username":"oyewoleogunbamise","key":"e6d28649e744d18bf699de1743fce20d"}

In [15]:
#!chmod 600 kaggle.json

In [16]:
"""import json
with open("Kaggle.json", "w") as file:
    json.dump(api_token, file)"""

'import json\nwith open("Kaggle.json", "w") as file:\n    json.dump(api_token, file)'

In [17]:
%pwd

'c:\\Users\\oyeog\\Practise\\KNN'

In [18]:
import shutil

In [19]:

#mv kaggle.json C:/Users/oyeog/.kaggle
#move C:\Users\oyeog\practice\KNN\kaggle.json C:\Users\oyeog\.kaggle
#shutil.move (r'C:\Users\oyeog\practise\KNN\kaggle.json', r'C:\Users\oyeog\.kaggle')

In [20]:
!kaggle datasets list

ref                                                                     title                                               size  lastUpdated          downloadCount  voteCount  usabilityRating
----------------------------------------------------------------------  -------------------------------------------------  -----  -------------------  -------------  ---------  ---------------
sudarshan24byte/online-food-dataset                                     Online Food Dataset                                  3KB  2024-03-02 18:50:30          14316        282  0.9411765
sahirmaharajj/fuel-economy                                              Vehicle Fuel Economy                                 1MB  2024-03-20 18:27:18           1251         26  1.0
kanchana1990/world-air-quality-data-2024-updated                        World Air Quality Data 2024 (Updated)                2MB  2024-03-25 15:10:07           1369         37  1.0
syedanwarafridi/vehicle-sales-data                                      Vehicle Sales Data                                  19MB  2024-02-21 20:16:17          22100        367  1.0
bhavikjikadara/student-study-performance                                Student Study Performance                            9KB  2024-03-07 06:14:09           7438        112  1.0
lovishbansal123/sales-of-a-supermarket                                  Sales of a Supermarket                              36KB  2024-03-26 12:38:06           1354         28  1.0
sukhmandeepsinghbrar/biggest-companies-by-market-cap-and-their-revenue  Biggest Companies by Market Cap and Their Revenue    8KB  2024-03-27 10:18:06            516         23  1.0
sukhmandeepsinghbrar/total-worldwide-passenger-cars-sales               Total Worldwide Passenger Cars Sales                 8KB  2024-03-25 16:32:42            811         29  1.0
sukhmandeepsinghbrar/netflix-all-movie-ratings-by-imdb                  Netflix - All Movie Ratings by IMDb                 52KB  2024-03-26 10:06:30            540         21  1.0
jasmeet0516/largest-companies-in-world                                  Largest Companies in World                          47KB  2024-03-26 15:54:47            671         27  1.0
nbroad/gemma-rewrite-nbroad                                             gemma-rewrite-nbroad                                 8MB  2024-03-03 04:52:39           1099         83  1.0
bhavikjikadara/mental-health-dataset                                    Mental Health Dataset                                2MB  2024-03-18 06:05:16           2039         42  1.0
nagajyothidakka/covid-19-global-dataset                                 COVID-19 GLOBAL-Dataset                             10KB  2024-03-09 16:54:05           1306         37  0.9411765
julianoorlandi/spotify-top-songs-and-audio-features                     Spotify Top Songs and Audio Features               526KB  2024-03-18 12:49:50           2125         42  1.0
kanchana1990/bacteria-dataset                                           Bacteria Dataset                                     4KB  2024-03-27 09:19:48            349         22  1.0
arnavvvvv/spotify-music                                                 Top Spotify Songs                                   47KB  2024-03-06 05:20:29           7186         93  1.0
abhinavshaw09/road-accidents-data                                       Road Accidents Data                                823KB  2024-03-27 05:13:24            551         26  1.0
tarunrm09/climate-change-indicators                                     Climate change Indicators                           34KB  2024-02-22 08:53:54          10382        189  1.0
ronaldonyango/global-suicide-rates-1990-to-2022                         Suicide Rates & Socioeconomic Factors (1990 - 22)    2MB  2024-03-14 14:30:20           2669         37  1.0
mexwell/student-scores                                                  ðŸŽ“ Student Scores                                    62KB  2024-03-05 10:08:50           1681         32  1.0

In [21]:
!kaggle datasets download -d sudarshan24byte/online-food-dataset

online-food-dataset.zip: Skipping, found more recently modified local copy (use --force to force download)

In [22]:
import zipfile

with zipfile.ZipFile('online-food-dataset.zip', 'r') as zip_ref:
    zip_ref.extractall()

#### Read File

In [23]:
%pwd

'c:\\Users\\oyeog\\Practise\\KNN'

In [24]:
data = pd.read_csv('onlinefoods.csv')

In [25]:
data.head(10)

,Age,Gender,Marital Status,Occupation,Monthly Income,Educational Qualifications,Family size,latitude,longitude,Pin code,Output,Feedback,Unnamed: 12
0,20,Female,Single,Student,No Income,Post Graduate,4,12.9766,77.5993,560001,Yes,Positive,Yes
1,24,Female,Single,Student,Below Rs.10000,Graduate,3,12.9770,77.5773,560009,Yes,Positive,Yes
2,22,Male,Single,Student,Below Rs.10000,Post Graduate,3,12.9551,77.6593,560017,Yes,Negative,Yes
3,22,Female,Single,Student,No Income,Graduate,6,12.9473,77.5616,560019,Yes,Positive,Yes
4,22,Male,Single,Student,Below Rs.10000,Post Graduate,4,12.9850,77.5533,560010,Yes,Positive,Yes
5,27,Female,Married,Employee,More than 50000,Post Graduate,2,12.9299,77.6848,560103,Yes,Positive,Yes
6,22,Male,Single,Student,No Income,Graduate,3,12.9770,77.5773,560009,Yes,Positive,Yes
7,24,Female,Single,Student,No Income,Post Graduate,3,12.9828,77.6131,560042,Yes,Positive,Yes
8,23,Female,Single,Student,No Income,Post Graduate,2,12.9766,77.5993,560001,Yes,Positive,Yes
9,23,Female,Single,Student,No Income,Post Graduate,4,12.9854,77.7081,560048,Yes,Positive,Yes

In [26]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 388 entries, 0 to 387
Data columns (total 13 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Age                         388 non-null    int64
 1   Gender                      388 non-null    object
 2   Marital Status              388 non-null    object
 3   Occupation                  388 non-null    object
 4   Monthly Income              388 non-null    object
 5   Educational Qualifications  388 non-null    object
 6   Family size                 388 non-null    int64
 7   latitude                    388 non-null    float64
 8   longitude                   388 non-null    float64
 9   Pin code                    388 non-null    int64
 10  Output                      388 non-null    object
 11  Feedback                    388 non-null    object
 12  Unnamed: 12                 388 non-null    object
dtypes: float64(2), int64(3), object(8)
memory usage: 39.5+ KB

In [27]:
data.describe()

              Age  Family size    latitude   longitude       Pin code
count  388.000000   388.000000  388.000000  388.000000     388.000000
mean    24.628866     3.280928   12.972058   77.600160  560040.113402
std      2.975593     1.351025    0.044489    0.051354      31.399609
min     18.000000     1.000000   12.865200   77.484200  560001.000000
25%     23.000000     2.000000   12.936900   77.565275  560010.750000
50%     24.000000     3.000000   12.977000   77.592100  560033.500000
75%     26.000000     4.000000   12.997025   77.630900  560068.000000
max     33.000000     6.000000   13.102000   77.758200  560109.000000

## Exploratory Data Analysis (EDA)

### Missing Values

In [29]:
#Count null values

data.isna().sum()

Age                           0
Gender                        0
Marital Status                0
Occupation                    0
Monthly Income                0
Educational Qualifications    0
Family size                   0
latitude                      0
longitude                     0
Pin code                      0
Output                        0
Feedback                      0
Unnamed: 12                   0
dtype: int64

In [32]:
%pip install termcolor

Collecting termcolor
  Downloading termcolor-2.4.0-py3-none-any.whl.metadata (6.1 kB)
Downloading termcolor-2.4.0-py3-none-any.whl (7.7 kB)
Installing collected packages: termcolor
Successfully installed termcolor-2.4.0
Note: you may need to restart the kernel to use updated packages.

In [33]:

from termcolor import colored;

In [47]:
print(colored(f"\n Description of the data: \n", color='blue', on_color='on_white', attrs=['bold', 'dark']));

 Description of the data: